<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="nav_self bg-dark p-4">
      <div class="self_img">  
      <% if @current_user&.image %>
        <%= image_tag @current_user.image.url, class: "self_profile" %>
      <% else %>
        <%= image_tag "self-profile.jpg", class: "self_profile" %>
      <% end %>
      </div>
      <div class="self_name">
      <% if @current_teacher %>
        <h3><%= @current_teacher&.full_name %>　先生</h3>
      <% elsif @current_student %>
        <h3><%= @current_student&.full_name %>  さん</h3>
      <% else %>
        <h3>ログインしてません</h3>
      <% end %>
      </div>
    </div>    
    <div class="bg-dark p-4">
    <a href="#"><h5 class="text-white h4">プロフィール</h5></a>
    </div>
    <div class="bg-dark p-4">
    <a href="#"><h5 class="text-white h4">学習履歴</h5></a>
    </div>
    <div class="bg-dark p-4">
    <a href="#"><h5 class="text-white h4">小テスト</h5></a>
    </div>
    <div class="bg-dark p-4">
    <% if @current_student %>
      <a href="/students/show_calender"><h5 class="text-white h4">授業</h5></a>
    <% else %>
    <a href="#"><h5 class="text-white h4">授業</h5></a>
    <% end %>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-titile">
    <a href="#"><h2>TeachApp</h2></a>
    </div>
  </nav>
</div>