<div class="balloon" style="margin-top: 0px;">
  <div class="stu_card_content">
    <div class="stu_card_content_subject">
      <% if variable&.subject %>
        <p class="stu_card_content_subject_circle"><%= variable.subject[0, 1] %></p>
      <% else %>
        <p class="stu_card_content_subject_circle">時間が設定されておりません</p>
      <% end %>
    </div>
    <div class="stu_card_content_text">
      <span class= "stu_card_content_text_subject" style="font-size: 12px;">教材: </span>
      <span style="font-size: 12px;"><%= variable.learning_text %></span>
    </div>
  </div>
  <div class="stu_card_comment">
    <p style="font-size: 12px;margin-bottom: 5px;"><%= variable.comment %></p>
  </div>
  <div class="stu_card_content_time">
    <div style="background-color: #0000AA;margin: 0 25%;border-radius: 15px;">
      <% if variable&.learning_time %>
      <p style="font-size: 13px;padding: 5px 0px;margin: 0 20%;color: white;">学習時間<br><%= variable.learning_time.to_s(:time_jp) %></p>
      <% else %>
      <p style="font-size: 13px;padding: 5px 0px;margin: 0 20%;color: white;">エラー</p>
      <% end %>
    </div>
  </div>
</div>
  