<div style="padding: 76px 0 0 0"></div>
<div class="student-and-teacher_title">
  <div>
    <h2>プロフィール</h2>
  </div>
  <div class="student-and-teacher_edit">
    <a href=<%=teacher_url %> class="student-and-teacher_edit_btn">
      <i class="fas fa-user-edit student-and-teacher_edit_icon"></i>
    </a>
  </div>
</div>
