<section style="padding: 10%;">

<div style="margin-bottom: 40px;">
  <div>   
    添付した資料の三行目が分かりません。そもそも二行目のthatは関係代名詞なのでしょうか。それとも同格のthatなのでしょうか。どうぞよろしくお願いします。
  </div>
  <div style="margin-top: 10px;">
    <ココにPDFリンク貼る>
  </div>
</div>

<div style="padding-top: 20px;border-top:solid 1px;">
  <form class="new_questions_wrapper">
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">画像の添付</label>
        <input type="file" class="form-control-file">
      </div>
    </form>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea2">回答内容</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">送信</button>
    </div>
  </form> 
</div>
</section>