<div style="padding: 0 10%;">
  <h4 style="color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  margin:35px 0px;">
    勉強したい単語数を選択
  </h4>
  <div class="number-of-vocabulary" style="margin:20px 3%">
    <ul style="padding: 10px 7%;">
      <li style="margin-bottom: 10px;"><a href="/home/test/old/10" style="color: black;">10語</a></li>
      <li style="margin-bottom: 10px;"><a href="/home/test/old/30" style="color: black;">30語</a></li>
      <li style="margin-bottom: 10px;"><a href="/home/test/old/50" style="color: black;">50語</a></li>
      <li style="margin-bottom: 10px;"><a href="/home/choise_retest/<%= @wordbook.id %>" style="color: black;">間違えた語をテストする</a></li>
    </ul>
  </div>
</div>