<%= render 'share/header' %>
<div style="padding-top: 80px;"></div>
<div style="padding: 0 10%;">
  <h4 style="margin: 20px 0">
    レベルを選択
  </h4>
  <div class="vocabulary-level">
    <ul>
      <li>基礎レベル</li>
      <div style="padding: 10px 7%;">
        <a href="/home/test">50単語</a><br>
        <a href="/home/test">100単語</a><br>
        <a href="/home/test">150単語</a>
      </div>
      <li>標準レベル</li>
      <div style="padding: 10px 7%;">
        <a href="/home/test">50単語</a><br>
        <a href="/home/test">100単語</a><br>
        <a href="/home/test">150単語</a>
      </div>
      <li>発展レベル</li>
      <div style="padding: 10px 7%;">
        <a href="/home/test">50単語</a><br>
        <a href="/home/test">100単語</a><br>
        <a href="/home/test">150単語</a>
      </div>
    </ul>
  </div>
</div>