<%= render 'share/header' %>
<div style="padding-top: 80px;"></div>
<div style="padding: 0 10%;">
  <h4 style="margin: 20px 0">
    レベルを選択
  </h4>
  <div class="vocabulary-level">
    <ul>
      <li>基礎レベル</li>
        <div class="words-list" style="padding: 10px 7%;">
          <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">50単語</a></div>
          <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">100単語</a></div>
          <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">150単語</a></div>
        </div>
      <li>標準レベル</li>
        <div style="padding: 10px 7%;">
          <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">50単語</a></div>
          <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">100単語</a></div>
          <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">150単語</a></div>
        </div>
      <li>発展レベル</li>
      <div style="padding: 10px 7%;">
        <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">50単語</a></div>
        <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">100単語</a></div>
        <div style="margin-bottom: 10px;"><a href="/home/test" style="color: black;">150単語</a></div>
      </div>
    </ul>
  </div>
</div>