<div style="margin: 10px 10%;">
  <h4 style="color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;"><%=@wordbook %>ランキング</h4>
</div>

<div style="margin: 20px 7%;">
  <div style="text-align: center;">レベル１</div>
  <ul class="sample1">
    <li>A君<span>98%</span></li>
    <li>B君<span>98%</span></li>
    <li>C君<span>98%</span></li>
  </ul>
</div>