<%= render 'share/header' %>
<div style="padding-top: 80px;"></div>
<div style="padding: 0 10%;">
  <h4 style="margin: 20px 0">
    勉強したい教材を選択
  </h4>
  <div class="vocabulary-text">
    <ul>
      <a href="/home/level"><li>システム英単語</li></a>
      <a href="/home/level"><li>鉄壁</li></a>
    </ul>
  </div>
</div>