<div class="before_test_card" id="before_test_card" style="margin: 10%; text-align: center;">
  <% @words.each do |word| %>
    <p><%= word.japanese %></p>
  <% end %>  
  <div>
    <h5>システム英単語</h5>
    <h5>標準レベル</h5>
    <h5>50単語</h5>
  </div>
  <div>
    <p style="font-size: 13px;">以上でテストを開始してよろしいですか？</p>
  </div>
  <div id="before_start_buttons">
    <input type="button" class="start-test" id="start_test_btn" style="background-color: gainsboro; margin: 15px; padding:5px;" onclick="startTest()" value="スタート" >
    <div>
      <a href="/home/test" type="button">キャンセル</a>
    </div>
  </div>
</div>

<div id="middle_test">
  <div class="progressWrapper">
    <progress id="bar" value="0" max="1000" min="0"></progress>
  </div>

  <div id="question-wrapper">
    <div class="question-card">
      <div class="question-word">Caluculation</div>
      <div class="question-word-p">名詞</div>
    </div>
    <div class="answer-card">
      <ul id="alternative">
        <li class="alternative alternative0" id="real-answer"></li>
        <li class="alternative alternative1"></li>
        <li class="alternative alternative2"></li>
        <li class="alternative alternative3"></li>
    </div>
    <div class="alternative">分からない</div>
  </div>
</div>

<div id="answer-wrapper">
  <div class="judgement">
    <div class="batsu" id="batsu"></div>
    <div class="seikai" id="seikai"></div>
  </div>
  <div class="question-card">
    <div>Caluculation</div>
    <div>名詞</div>
  </div>
  <div class="answer">
    <h3>計算</h3>
  </div>
</div>

<div id="after-question">
  <div style="padding: 10px;">
    <div>
      あなたの得点は...
    </div>
    <div style="text-align: center;">
      <span>30</span><span>点です</span>
    </div>
  </div>
  <div style="padding: 10px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"><p style="font-size: 14px; margin-bottom: 0px;">No.</p></th>
          <th scope="col" style="font-size: 15px">英単語</th>
          <th scope="col" style="font-size: 15px">日本語</th>
          <th scope="col" style="font-size: 9px">間違えた<br>回数</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" style="font-size: 5px; margin-bottom: 0px;">1</th>
          <td style="font-size: 14px; margin-bottom: 0px;">Caluculation</td>
          <td style="font-size: 14px; margin-bottom: 0px;">計算</td>
          <td style="text-align: ceneter;">3</td>
        </tr>
        <tr>
          <th scope="row" style="font-size: 5px; margin-bottom: 0px;">2</th>
          <td style="font-size: 14px; margin-bottom: 0px;">Biology</td>
          <td style="font-size: 14px; margin-bottom: 0px;">生物（学）</td>
          <td style="text-align: ceneter;">0</td>
        </tr>
        <tr>
          <th scope="row" style="font-size: 5px; margin-bottom: 0px;">3</th>
          <td style="font-size: 14px; margin-bottom: 0px;">Accumulation</td>
          <td style="font-size: 14px; margin-bottom: 0px;">蓄積</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
$('#answer-wrapper').hide();
$('#middle_test').hide();
$('#after-question').hide();


const quizSet = gon.words

let currentNum = 0; // 現在出題中の問題数をカウント


function startTest() {
    $('#before_test_card').hide();
    $('#middle_test').fadeIn(1000);
    $('#seikai').hide();
}

function shuffleContent(container) {
	var content = container.find("> *");
	var total = content.size();
	content.each(function() {
		content.eq(Math.floor(Math.random()*total)).prependTo(container);
	});
}

var timer,
limitMs = 0,
restMs = 0,
resolutionMs = 50,    /* NOTE: Too small value does not work on IE11. */
maxBar;

var countdown = function() {
  restMs -= resolutionMs;
  var restRate = (limitMs - restMs) / limitMs;
  var restBarLength = maxBar * restRate
  $('#bar').attr('value', restBarLength);
  if (restMs < 0) {
    if (quizSet.length  == currentNum) {
      $('#middle_test').hide();
      $('#answer-wrapper').hide();
      $('#seikai').hide();
      $('#after-question').fadeIn();
    } else {
      console.log(quizSet.length);
      console.log(currentNum);
      resetTimer();
      $('#middle_test').hide();
      $('#answer-wrapper').fadeIn();
      $('#seikai').hide();
      setTimeout("restartTest()", 3000);
    }
  }
};

var resetTimer = function() {
  clearInterval(timer);
  limitMs = restMs = 5000;
  $('#bar').attr('value', 0);
  for (var i = 0; i < quizSet[currentNum].c.length; i++) {
    question = quizSet[currentNum].q;
    console.log('問題');
    console.log(question);
    choise = quizSet[currentNum].c[i];
    console.log(choise)
    $('.question-word')[0].textContent = question;
    $('.alternative' + i)[0].textContent = choise;
  }
  currentNum = currentNum + 1;
  $(function() {
	shuffleContent($("ul#alternative"));
  });
};

$(function() {
  maxBar = $('#bar').attr('max');

  $('#start_test_btn').on('click', function() {
    resetTimer();
    timer = setInterval('countdown()', resolutionMs);
  });

  $('.alternative').on('click', function() {
    resetTimer();
    $('#middle_test').hide();
    $('#answer-wrapper').fadeIn();
    if ($(this).attr('id') == 'real-answer') {
      $('#batsu').hide();
      $('#seikai').fadeIn();
    } else {
      $('#seikai').hide();
      $('#batsu').fadeIn();
    }
    setTimeout("restartTest()", 3000);
  });
});

function restartTest() {
  $('#before_test_card').hide();
  $('#answer-wrapper').hide();
  $('#middle_test').fadeIn();
  timer = setInterval('countdown()', resolutionMs);
}
</script>