<h1>this is test</h1>
<h1>this is test</h1>
<h1>this is test</h1>
<h1>this is test</h1>
<h1>this is test</h1>
<%= @current_teacher %>
<h1>this is test</h1>
<h1>this is test</h1>
<%= link_to "ログアウト", "/sessions/destroy", method: :delete, class: "btn btn-danger" %>