<h1>this is test</h1>
<h1>this is test</h1>
<h1>this is test</h1>
<h1>this is test</h1>
<h1>this is test</h1>
<p><%= @current_teacher %></p>
<p><%= @current_student %></p>
<h1>this is test</h1>
<h1>this is test</h1>
<%= link_to "ログアウト", "/sessions/destroy", method: :delete, class: "btn btn-danger" %>