// #calendar {
//   width: 500px;
// }

.calendar-wrapper {
  height: 100vh;
  padding: 30px 50px;
}

.fc-time {
  display: none;
}

.event_detail {
  font-weight: bold;
}

.form-check-input {
  position: relative !important; 
  margin-top: 0 !important; 
  margin-left: 0 !important;
}