// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #003399;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color:#003399 ;
  color: #fff;
}




.new_events_wrapper {
  margin: 10px 5%;
  box-shadow: 0 0 8px gray;
  padding: 10px 5px;
}

.new_events_wrapper .choise_student .form-group {
  margin-bottom: 0 !important;
}


.new_events_wrapper .choise_student .form-group label {
  font-size: 14px;
}

.new_events_wrapper .choise_student .form-group select {
  font-size: 14px;
}

.new_events_text > .form-group {
  margin-bottom: 0 !important; 
}

.new_events_text > .form-group > .form-control {
  border: 1.5px solid white !important;
  background-color: #F5F5F5 !important;
  height: 45px !important;
}

.new_events_text > .form-group > .form-control:focus {
  box-shadow: none !important;
}

.new_events_text > .form-group label {
  font-size: 14px; 
}

.new_events_content > .form-group  {
  margin-bottom: 0 !important;
}

.new_events_content > .form-group label {
  font-size: 14px; 
}

.new_events_content > .form-group > .form-control {
  border: 1.5px solid white !important;
  background-color: #F5F5F5 !important;
  height: 60px !important;
  width: 100% !important;
}


.new_events_content > .form-group > .form-control:focus {
  box-shadow: none !important;
}

.new_events_subject > .form-group {
  margin-bottom: 0;
}

.new_events_subject > .form-group label {
  font-size: 14px;  
}

.new_events_subject > .form-group > .form-control {
  border: 1.5px solid white !important;
  background-color: #F5F5F5 !important;
  height: 40px !important;
  width: 50% !important;
}

.new_events_subject > .form-group > .form-control:focus {
  box-shadow: none !important;
}

.new_events_date > .form-group {
 margin-bottom: 0 !important;
}

.new_events_date > .form-group select{
  font-size: 11px;
  background-color: #F5F5F5 !important;
}

.new_events_date > .form-group label{
  font-size: 13px;
}

.allday_events > .form-group {
  margin-bottom: 0 !important;
}


.allday_events > .form-group > label{
  font-size: 13px;
}

.homework_events > .form-group > label{
  font-size: 13px;
}

.homework_events > .form-group > .form-control{
  border: 1.5px solid white !important;
  background-color: #F5F5F5 !important;
  height: 40px !important;
  width: 100% !important;
}

.homework_events > .form-group > .form-control:focus {
  box-shadow: none !important;
}
