// Place all the styles related to the word_tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.word-test-index-wrapper {
  padding: 40px;
}
.book-title {
  margin-top: 60px;
}

.choise_retest_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choise_retest_wrapper .content {
}

@media screen and (max-width: 600px) {
  .word-test-index-wrapper {
    padding: 40px 0;
  }
  tr > .result-td {
    padding: 20px 0 !important;
  }
}